@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-void-black text-white m-0 p-0 overflow-x-hidden font-mono;
  }
}
@theme {
  --color-neon-blue: #4AA3F0;
  --color-space-dark: #050B23;
}

/* Hide scrollbar but keep functionality */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
